.DS_Store
!.gitignore
.vscode
.testing
# backup files
/build
/debug

*~
\#*#
extensions/__pycache__/code.cpython-38.pyc
extensions/__pycache__/clusterLinkage.cpython-313.pyc
extensions/__pycache__/generateClusters.cpython-313.pyc
